
.App {
  text-align: center;
}

body {
  font-family: "Oswald";
  background: #000; /* Set background color to black */
  color: #FFF; /* Set text color to white */
}

h1 {
  font-size: 48px;
  margin: 20px;
}

p {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 0.5px;
}

img {
  margin: 5px;
  width: 200px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  object-fit: cover;
  border-radius: 10px;
}

hr {
  margin: 20px 30%;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-bottom: 30px;
  background: #676565;
  border-radius: 25px;
}

.Gallery {
  margin: 0 12%;
  padding: 10px;
}

.column-right {
  padding: 0 30px;
}

button {
  margin-bottom: 30px;
  border-width: 1px;
  border-style: solid;
  color: #f9f9f9;
  padding: 20px;
  background: none;
  left: 20px;
  position: absolute;
  top: 20px;
  
}

button:hover {
  background: #767272;
  color: #f5f0f0;
  left: 20px;
 
}

